body{
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header img{
    width: 100%;
    height: 700px;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow:0px 0px 105px 30px rgba(240,27,3,0.82);
-moz-box-shadow: 0px 0px 105px 30px rgba(240,27,3,0.82);
box-shadow: 0px 0px 105px 30px rgba(240,27,3,0.82);
}
.warp {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 96%;
}
.warp li{
    font-size: 40px;
    list-style-type: none;
    margin-right: 80px;
    margin-top: -700px;
}
.warp a{
    text-decoration: none;
color: black;
opacity: 0.7;
transition: all 0.3s ease-in-out;
}
.warp a:hover{
    opacity: 1.0;
}
@media (max-width: 1000px) {
    .header img{
        height: 600px;
    }
    .warp li{
        margin-top: -600px;
    }
}
@media (max-width: 768px) {
    .header img{
        height: 500px;
    } 
    .warp li{
        margin-top: -500px;
    }
}
@media (max-width: 480px) {
    .header img{
        height: 400px;
    }    
    .warp li{
        margin-top: -400px;
        font-size: 20px;
        margin-right: 30px;
    }
}